h1 {
  color: #333333;
  font-family: 'Bitter', serif;
  font-size: 50px;
  font-weight: normal;
  line-height: 54px;
  margin: 0 0 54px;
}

p {
  color: #333333;
  font-family: Georgia, serif;
  font-size: 18px;
  line-height: 28px;
  margin: 0 0 28px;
}

.squares {
  border: 3px solid yellow;
  height: 50px;
  width: 50px;
  padding: 3px;
  display: inline-block;
  background: green;
}

.container {
  text-align: center;
}

.container2 {
  padding: 10px;
}


/* CSS borrowed from https://wdexplorer.com/20-examples-beautiful-css-typography-design/
- Clean Slate by Rafal Tomal */
